@font-face {
    font-family: 'Aptos';
    src: url(https://ai.nim.org/oms/static/aptos.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url(https://ai.nim.org/oms/static/aptos-bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url(https://ai.nim.org/oms/static/aptos-italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aptos', Tahoma, Geneva, Verdana, sans-serif; /* Segoe UI is a font used by Microsoft */
}

body {
    background-color: #f6f6f6;
    padding: 20px;
}

/* p, h2, h4, ul, ol, li, pre { */
/*     margin-bottom: 1em; */
/* } */

/* .container { */
/*     max-width: 600px; */
/*     background-color: #fff; */
/*     margin: 0 auto; */
/*     padding: 20px; */
/*     border-radius: 4px; */
/*     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
/* } */

/* ul, ol { */
/*     padding-left: 1.5em; */
/* } */

/* li { */
/*     list-style-type: disc; */
/*     margin-bottom: 0.5em; */
/* } */
/**/
/* ol[type="1"] { */
/*     list-style-type: decimal; */
/* } */
/**/
/* strong { */
/*     font-weight: bold; */
/* } */
/**/
/* p img { */
/*     max-width: 100%; */
/*     height: auto; */
/*     margin-top: 15px; */
/*     border: 1px solid #ddd; */
/*     padding: 4px; */
/*     border-radius: 3px; */
/*     display: block; */
/* } */
/**/
/* hr { */
/*     border: none; */
/*     border-top: 1px solid #e1e1e1; */
/*     margin: 30px 0; */
/* } */
/**/
pre {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap; /* Make sure pre content doesn't overflow */
    margin-top: 1em;
    margin-bottom: 1em;
}

.signature {
    margin-top: 30px;
    font-style: italic;
}


.container {
    font-family:  Arial, sans-serif;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    line-height: 1.1;
    color: #333;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    /* background-color: #f9f9f9; */
    background-color: white;
    margin:0;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.container p {
    margin: 0.5em 0;
    line-height: 125%;
}

.container ul,
.container ol {
    padding-left: 1em;
    margin: 0.5em 0;
}

.container blockquote {
    margin: 0.5em 0;
    padding-left: 0.5em;
    padding-right: 0.25em;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 4px solid #ddd;
}

