@font-face {
    font-family: 'Aptos';
    src: url(https://ai.nim.org/oms/static/aptos.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url(https://ai.nim.org/oms/static/aptos-bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url(https://ai.nim.org/oms/static/aptos-italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aptos', Tahoma, Geneva, Verdana, sans-serif; /* Segoe UI is a font used by Microsoft */
}

body {
    background-color: #f6f6f6;
    padding: 20px;
}

pre {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap; /* Make sure pre content doesn't overflow */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.signature {
    margin-top: 30px;
    font-style: italic;
}


.container {
    font-family:  Arial, sans-serif;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    line-height: 1.1;
    color: #333;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    /* background-color: #f9f9f9; */
    background-color: white;
    /* margin: 1em; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.container p {
    line-height: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.container ul,
.container ol {
    padding-left: 1em;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
}

.container blockquote {
    margin: 0.5em 0;
    padding-left: 0.5em;
    padding-right: 0.25em;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 4px solid #ddd;
}

